
.lottery {
    position: relative;
    display: inline-block;
    text-align:center
}

.lottery img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -76px;
    margin-top: -82px;
    cursor: pointer;
}

#awards {
    position: absolute;
    top: 0px;
    left: 10%;
}
